name: Update Gist

on:
  push:
    branch: master

  schedule:
    - cron: "0 */3 * * *"

jobs:
  update-gist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Install
        run: npm ci
      - name: Update gist
        run: node ./index.js
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          GIST_ID: 7854aac61f991ef4e7ae7b8440e4fdc6
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
